@inject IMembershipService MembershipService

<div class="marquee-container">
    <img class="marquee-img" src="@Model.MarqueeImgUrl" />
    <div class="card">
        <div>
            <h1>@Model.Title</h1>
            <h4>by @(Model?.Director?.Name ?? string.Empty)</h4>
            <h4>@(Model?.Description ?? string.Empty)</h4>
        </div>
        @if (Model?.FilmUrl != null)
        {
            <a href="@($"/Play/{Model?.Id}")" class="btn btn-primary">Play</a>
        }
        else
        {
            <button class="btn btn-secondary" disabled>Play</button>
        }
    </div>
</div>


@code {
    [Parameter] public FilmDTO Model { get; set; } = new();
    List<DirectorDTO> Directors { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Directors = await MembershipService.GetDirectorsAsync();
    }

    //protected override async Task OnParametersSetAsync()
    //{
    //    Model = await MembershipService.GetFilmAsync(Model.Id);
    //    StateHasChanged();
    //}
}